.menu__container {
    border: 2px solid var(--secondary);
    width: 500px;
    height: 100px;
    border-radius: 46px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.menu__container select {
    border-radius: 24px;
    appearance: none;
    width: 10rem;
    height: 44px;
    border: 1rem var(--secondary);
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1rem;
    text-align: center;
}
.menu__container option{
    font-size: 1rem;
    border: 1px solid red !important;
}

.menu__container select option:hover{
    cursor: pointer;
}
